.mrg_fix {
    margin-top: 0;
}

.content {
    background-color: var(--white);
}

.header, .text, .cta_text {
    color: var(--black)!important;
}

.arrow {
    filter: invert(0%) sepia(100%) saturate(7439%) hue-rotate(200deg) brightness(108%) contrast(113%);
}

.features {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5.6rem;
    padding: 8rem 0;
}

@media screen and (min-width:525px) {
    .reverse {
        flex-direction: row;
    }
}

@media screen and (min-width:600px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:768px) {
    .features {
        gap: 8rem;
        padding: 12rem 0;
    }
}

@media screen and (min-width:1150px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .features {
        flex-direction: row;
        gap: 3rem;
        max-width: 111rem;
        margin: auto;
    }
}