.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
}

.text {
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: rgba(0,0,0,0.5);
}

.text_clicked{
    color: var(--black);
}

.toggler {
    width: 64px;
    height: 32px;
    background-color: var(--lightGrey);
    border-radius: 1.6rem;
    position: relative;
}

.toggle {
    width: 24px;
    height: 24px;
    background-color: var(--black);
    border-radius: 100%;
    position: absolute;
    top: 4px;
    transition: all 500ms;
}

.toggle_left {
    left: 4px;
}

.toggle_right {
    left: 36px;
}